* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*  body {
  background-image: url(Leader1.jpg);
  background-size: cover;
}  */
.caption {
  font-size: 4rem;
  font-weight: 10px;
  padding-bottom: 10px;
  color: white;
}
h1{
  font-size: 4rem;
  font-weight: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}
.leader {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 60px;
  background-image: url(Leader1.jpg);
  background-size: cover;
  height: 80vh;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
th {
  background-color: #0fe7e7;
  color: black;
  height: 30px;
}
td {
  background-color: white;
  color: black;
}
